<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-card-header >
    <ion-card-title>Seleccione la fecha</ion-card-title>
  </ion-card-header>
  <ion-card>
    <ion-datetime style="height: 50;"></ion-datetime>
    <div ><a href="segundapagina"><ion-button shape="round" fill="outline">Registrar manualmente</ion-button></a></div>
  </ion-card>
 
</ion-content>
