<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<a href="home"><ion-button size="small" color="danger">Cerrar sesion</ion-button></a>
  <br>
  <br>
  <br>
  <ion-accordion-group expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Seccion 001-D</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item class="item-divider">
              Alumnos
          </ion-item>
          <ion-item>Ignacio Toledo <ion-checkbox slot="end"></ion-checkbox></ion-item>
          <ion-item>Samuel Jackson <ion-checkbox slot="end"></ion-checkbox></ion-item>
      </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Seccion 002-D</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item class="item-divider">
          Alumnos
      </ion-item>
      <ion-item>Ignacio Toledo <ion-checkbox slot="end"></ion-checkbox></ion-item>
      <ion-item>Samuel Jackson <ion-checkbox slot="end"></ion-checkbox></ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Seccion 003-D</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item class="item-divider">
          Alumnos
      </ion-item>
      <ion-item>Ignacio Toledo <ion-checkbox slot="end"></ion-checkbox></ion-item>
      <ion-item>Samuel Jackson <ion-checkbox slot="end"></ion-checkbox></ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>Seccion 004-D</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item class="item-divider">
          Alumnos
      </ion-item>
      <ion-item>Ignacio Toledo <ion-checkbox slot="end"></ion-checkbox></ion-item>
      <ion-item>Samuel Jackson <ion-checkbox slot="end"></ion-checkbox></ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label>Seccion 005-D</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item class="item-divider">
          Alumnos
      </ion-item>
      <ion-item>Ignacio Toledo <ion-checkbox slot="end"></ion-checkbox></ion-item>
      <ion-item>Samuel Jackson <ion-checkbox slot="end"></ion-checkbox></ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item>
    <a href="tercerapagina"><ion-button slot="start" size="small" color="success"><ion-icon slot="start" name="Bookmark"></ion-icon>Guardar</ion-button></a>
  </ion-item>
  <br>
  <br>
    <a href="tercerapagina"><ion-button slot="end" size="small" color=""><ion-icon slot="start" name="arrow-back"></ion-icon>Volver</ion-button></a>
 
  
</ion-content>

